body{
    margin: 0;
}
header{
    box-shadow: 0 5px 20px #2b262626;
}
.wrapper{
    width: 1000px;
    margin: auto;
    overflow: hidden;
}
.logo{
    width: 20%;
    float: left;
}
.logo img{
    height: 20px;
    width: 50px;
    padding: 10px 0;
}

nav{
    width: 80%;
    float: right;
}
nav ul{
    list-style: none;
    text-align: right;
}
nav ul li{
    padding: 0 20px;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: #3b506c;
}
nav ul li a:hover{
    border: 1px solid black;
}

.para-section{}
.section1{
    text-align: center;
}
.section1 h1{
    font-size: 40px;
    width: 500px;
    margin: 20px 200px;
}
.section1 h1 span{
    color: #0c66ff;
}
.section1 p{
    margin-right: 30px;
}

.img-section{}


.image img{
    height: 300px;
    width: 800px;

}

.k3{
    text-align: right;
    float: left;
    padding: 20px 0;
}
.k3 h2{
    font-size: 40px;
    width: 400px;
    margin: 0;
}
.k3 h2 span{
    color: red;
}
.k3 p{
    font-size: 15px;
    width: 400px;
    margin: 5px 0;
}
.successful h3{
    font-size: 30px;
    width: 300px;
    float: left;
    margin: 10px 40px;
    padding: 20px 0;
}

.bgcolor1{
    background-color: #ffcce6;
}
.bgcolor2{
    background-color: #d1e0e0;
}
.bgcolor3{
    background-color: #ffdd99;
}
.img{
    width: 333.33px;
    float: left;
    padding: 30px 5px;
    box-sizing: border-box;
}
.blog img{
    height: 300px;
    width: 333.33px;
}
.blog h3{
    padding: 0 15px;
    text-transform: capitalize;
}
.blog p{
    padding: 10px 15px;
}
.blog{
    box-shadow: 3px 5px 20px rgb(99, 87, 87);
}
